<html>
    <body>
    <h1 style="color: red">
    Hola esta es nuestra primer Plantilla
    </h1>
    <p>El nombre del programador es: {{nombre_persona.upper}} y Piensa en: {{nombre_mujer}} </p>
    <p>  Hora y fecha Actual del Sistema {{fecha_actual.day}} / {{fecha_actual.month}}
        / {{fecha_actual.year}} / {{fecha_actual.time}} </p>
    <p> Nuevos nombres con variables de una clase objeto :  {{nombre_persona2}}  {{apellido_persona2}}</p>
    <p>Nuevos Titulos a estudiar : {{temas}}</p>
    <p>Ejemplo de un solo elemento en la lista : {{temas.1}}</p>
    <p>Ejemplo Manejando una lista con una variable : {{temas2}}  
    <p><strong>"Lista leida con bucle for</strong></p>
    <p>
       <ul>
        {% if temas2 %}
          
            {% for lista in temas2 %}
            <li>{{lista}}</li>
            {% endfor %}

        {% else %}
            <p>No hay elementos que Mostrar</p> 
        {% endif %}
       </ul>
    
    </p>

    
    
    </body>
 </html>